workflows/5dmOdqHgaCS2UukW.json
{
  "id": "5dmOdqHgaCS2UukW",
  "name": "Tool: KB lookup (n8n knowledge)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "id": "b2000000-0000-4000-8000-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b2000000-0000-4000-8000-000000000002",
      "name": "KB Query Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "KBLGEFMAR7Y26lSV",
          "name": "Personal"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "outreach-kb",
          "cachedResultName": "outreach-kb"
        },
        "prompt": "={{ $json.query }}",
        "topK": 8,
        "options": {
          "pineconeNamespace": "n8n-knowledge"
        }
      },
      "id": "b2000000-0000-4000-8000-000000000003",
      "name": "KB Pinecone",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        192,
        0
      ],
      "credentials": {
        "pineconeApi": {
          "id": "bdIGPcclXfSxFgf7",
          "name": "Pinecone"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const docs = $input.all().map(i => i.json);\nconst text = docs.map(d => (d.document && d.document.pageContent) || d.pageContent || '').filter(Boolean).join('\\n\\n---\\n\\n');\nreturn [{ json: { kb: text || 'No relevant n8n knowledge found.' } }];"
      },
      "id": "b2000000-0000-4000-8000-000000000004",
      "name": "Pack KB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "content": "### n8n knowledge base lookup\nEmbeds the incoming query and searches the Pinecone vector store for relevant n8n knowledge, then packs the matches into a compact result for the calling agent.",
        "height": 544,
        "width": 760,
        "color": 5
      },
      "id": "bee9e355-e3c4-42e4-bf66-0b7c740c25f7",
      "name": "Sticky: KB lookup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -176
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "KB Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KB Query Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "KB Pinecone",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "KB Pinecone": {
      "main": [
        [
          {
            "node": "Pack KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "zyp7cVplnCezN8OF",
    "callerPolicy": "any",
    "binaryMode": "separate"
  },
  "triggerCount": 0,
  "versionId": "d7f0c9d5-e5f8-4657-9912-f1435667f9d7",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Assistant"
  },
  "parentFolderId": "HEcrJqQ0CssZz19u",
  "isArchived": false,
  "nodeGroups": []
}