workflows/9nZwA876coN3qR5x.json
{
  "id": "9nZwA876coN3qR5x",
  "name": "Research Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "company"
            },
            {
              "name": "context"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4a01-8b01-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "a1b2c3d4-0001-4a01-8b01-000000000002",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        192,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": "KBLGEFMAR7Y26lSV",
          "name": "Personal"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1000000-0000-4000-8000-000000000001",
              "name": "company",
              "value": "={{ $('Workflow Input').item.json.company }}",
              "type": "string"
            },
            {
              "id": "f1000000-0000-4000-8000-000000000002",
              "name": "research",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4a01-8b01-000000000005",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research the company \"{{ $('Workflow Input').item.json.company }}\"{{ $('Workflow Input').item.json.context ? ' — context: ' + $('Workflow Input').item.json.context : '' }} for a B2B sales team, then write the brief.",
        "options": {
          "systemMessage": "You are a B2B research analyst. Today is {{ $now.format('yyyy-MM-dd') }}.\n\nResearch the target company using the web search tool. Run MULTIPLE focused searches (company overview & size/headcount, tech stack & tooling, recent news & funding, hiring/operations signals) rather than one broad query. Base every statement ONLY on returned search results; if something is unknown, write \"unknown\". Never fabricate.\n\nProduce a tight markdown brief with exactly these sections: ## Overview, ## Size & Industry, ## Tech & Tooling, ## Recent News & Signals, ## Sources (list the result URLs you used). No preamble, no closing remarks.",
          "maxIterations": 15
        }
      },
      "id": "a1b2c3d4-0001-4a01-8b01-00000000000a",
      "name": "Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "description": "Search the public web for current information about a company — size/headcount, industry, tech stack, recent news, funding, hiring and operations signals. Input: one focused search query string. Returns raw search results as JSON text. Call it multiple times with different queries to build a complete picture.",
        "workflowId": {
          "__rl": true,
          "value": "inYhnct4uHhuMrpA",
          "mode": "list",
          "cachedResultUrl": "/workflow/inYhnct4uHhuMrpA",
          "cachedResultName": "Onboarding - SDR Agent — Tool: Web search (Tavily)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'A single focused web search query, for example: Acme Corp employee count, or Acme Corp tech stack', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "a1b2c3d4-0001-4a01-8b01-00000000000b",
      "name": "Search the web",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        336,
        192
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search the web": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any",
    "errorWorkflow": "zyp7cVplnCezN8OF",
    "binaryMode": "separate"
  },
  "triggerCount": 0,
  "versionId": "8d43a11c-7990-4ae4-998b-1f83a88e1070",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Assistant"
  },
  "parentFolderId": "SMw55GkRI4QGSQpK",
  "isArchived": false,
  "nodeGroups": []
}