workflows/9nZwA876coN3qR5x.json
{
  "id": "9nZwA876coN3qR5x",
  "name": "Tool: Research company",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4a01-8b01-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "company",
              "type": "string"
            },
            {
              "name": "context",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-4a01-8b01-000000000002",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        220
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "KBLGEFMAR7Y26lSV",
          "name": "Personal"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-4a01-8b01-000000000005",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        0
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f1000000-0000-4000-8000-000000000001",
              "name": "company",
              "value": "={{ $('Workflow Input').item.json.company }}",
              "type": "string"
            },
            {
              "id": "f1000000-0000-4000-8000-000000000002",
              "name": "research",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-4a01-8b01-000000000006",
      "name": "Tavily HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.company + ' - company overview, size, headcount, funding, tech stack, recent news, operations', search_depth: 'advanced', max_results: 6, include_answer: true }) }}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "q3eXv9WbJKklYbp2",
          "name": "Tavily (Header Auth)"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "a1b2c3d4-0001-4a01-8b01-000000000007",
      "name": "Summarize Research",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        480,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the following web search results about {{ $('Workflow Input').item.json.company }} into a tight markdown brief.\n\nSearch results (JSON):\n{{ JSON.stringify($json) }}\n\nWrite these sections: ## Overview, ## Size & Industry, ## Tech & Tooling, ## Recent News & Signals, ## Sources (list the result URLs). Only use facts present in the results; if something is unknown, write 'unknown'. No preamble."
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Tavily HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily HTTP": {
      "main": [
        [
          {
            "node": "Summarize Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Research": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "67e0bc70-9e92-418d-a640-c77473f3f4af",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Agent"
  },
  "parentFolderId": null,
  "isArchived": false,
  "nodeGroups": []
}