workflows/HKwH8BvaSdel1HGr.json
{
  "id": "HKwH8BvaSdel1HGr",
  "name": "Writer Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "company"
            },
            {
              "name": "contact_name"
            },
            {
              "name": "contact_role"
            },
            {
              "name": "research"
            },
            {
              "name": "analysis"
            },
            {
              "name": "require_approval"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0003-4a03-8b03-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -464,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "a1b2c3d4-0003-4a03-8b03-000000000002",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": "KBLGEFMAR7Y26lSV",
          "name": "Personal"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3000000-0000-4000-8000-000000000001",
              "name": "company",
              "value": "={{ $('Build log row').item.json.company }}",
              "type": "string"
            },
            {
              "id": "f3000000-0000-4000-8000-000000000002",
              "name": "email",
              "value": "={{ $('Build log row').item.json.email }}",
              "type": "string"
            },
            {
              "id": "f3000000-0000-4000-8000-000000000004",
              "name": "approval_status",
              "value": "={{ $('Build log row').item.json.approval_status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4a03-8b03-000000000005",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        0
      ]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "joe.lemieux@n8n.io",
        "subject": "=Approve outreach email to {{ $('Workflow Input').item.json.contact_name }} at {{ $('Workflow Input').item.json.company }}?",
        "message": "=Please review and approve this outreach draft:\n\n{{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 48
            }
          }
        }
      },
      "id": "f3000000-0000-4000-8000-000000000010",
      "name": "Request approval",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        -16
      ],
      "webhookId": "c9df2d26-a9bb-45d8-bf70-17c4ede12112",
      "credentials": {
        "gmailOAuth2": {
          "id": "wFPLCtotR4QOuSRy",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lr1",
              "name": "company",
              "value": "={{ $('Workflow Input').item.json.company }}",
              "type": "string"
            },
            {
              "id": "lr2",
              "name": "contact_name",
              "value": "={{ $('Workflow Input').item.json.contact_name }}",
              "type": "string"
            },
            {
              "id": "lr3",
              "name": "contact_role",
              "value": "={{ $('Workflow Input').item.json.contact_role }}",
              "type": "string"
            },
            {
              "id": "lr4",
              "name": "email",
              "value": "={{ $('Writer Agent').item.json.output }}",
              "type": "string"
            },
            {
              "id": "lr5",
              "name": "approval_status",
              "value": "={{ $('Workflow Input').item.json.require_approval !== 'true' ? 'Draft (not sent)' : ($json.data && $json.data.approved === false ? 'Rejected (not sent)' : 'Sent') }}",
              "type": "string"
            },
            {
              "id": "lr6",
              "name": "synced_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f3000000-0000-4000-8000-000000000020",
      "name": "Build log row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        16
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "10ch_n_HmeTS320v2j0UZiWgkq_QSDvDOnf9GgmU9sRs"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null,
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f3000000-0000-4000-8000-000000000021",
      "name": "Log to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNAE9aJLjGEHE2iZ",
          "name": "Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-approve",
              "leftValue": "={{ $('Workflow Input').item.json.require_approval }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f3000000-0000-4000-8000-000000000030",
      "name": "Approve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a first-touch cold outreach email for this prospect.\n\nRecipient: {{ $('Workflow Input').item.json.contact_name }}{{ $('Workflow Input').item.json.contact_role ? ' (' + $('Workflow Input').item.json.contact_role + ')' : '' }}\nCompany: {{ $('Workflow Input').item.json.company }}\n\nResearch:\n{{ $('Get saved brief').item.json.brief || $('Workflow Input').item.json.research }}\n\nICP analysis:\n{{ $('Workflow Input').item.json.analysis }}",
        "options": {
          "systemMessage": "You are an SDR writing first-touch cold outreach on behalf of n8n (a workflow-automation platform). Today is {{ $now.format('yyyy-MM-dd') }}.\n\nBefore writing, call the n8n knowledge lookup tool with a query that includes the recipient's ROLE/persona AND the company's INDUSTRY (for example: outreach playbook for a RevOps leader at a fintech company). Use what it returns - the persona playbook, the vertical playbook, and value points - to choose the right angle, pain point, proof point, tone, and CTA. Never invent product claims.\n\nWrite a concise, personalized email (90-130 words) addressed to the recipient by name when provided (otherwise a neutral greeting). Tailor the angle to their role and industry per the retrieved playbook. Reference a specific, real detail from the research. Lead with the likely pain, connect it to a concrete automation outcome, and end with a low-friction CTA (a 15-minute call). Plain, confident tone — no fluff or buzzword salad.\n\nFormat your response EXACTLY as:\nSubject: <a punchy subject line under 9 words>\n\n<the email body>\n\nClose with EXACTLY this signature and nothing after it:\nBest,\nJoe Lemieux\nSolutions Engineer, n8n",
          "maxIterations": 10
        }
      },
      "id": "a1b2c3d4-0003-4a03-8b03-00000000000a",
      "name": "Writer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "description": "Look up n8n's product knowledge base — n8n's automation capabilities, integrations, AI features, and value vs legacy iPaaS. Input: one focused query string. Returns relevant n8n positioning snippets as text. Use it to retrieve the persona and vertical outreach playbook plus n8n value points, then personalize the email accordingly.",
        "workflowId": {
          "__rl": true,
          "value": "5dmOdqHgaCS2UukW",
          "mode": "list",
          "cachedResultUrl": "/workflow/5dmOdqHgaCS2UukW",
          "cachedResultName": "Onboarding - SDR Agent — Tool: KB lookup (n8n knowledge)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'A query for the matching outreach playbook and value points - include the recipient role/persona and the company industry, e.g. outreach playbook for a RevOps leader at a fintech company', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "a1b2c3d4-0003-4a03-8b03-00000000000b",
      "name": "Look up n8n knowledge",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        240,
        208
      ]
    },
    {
      "parameters": {
        "sendTo": "joe.lemieux@n8n.io",
        "subject": "={{ $('Writer Agent').item.json.output.split('\\n')[0].replace('Subject:','').trim() }}",
        "emailType": "text",
        "message": "={{ $('Writer Agent').item.json.output.substring($('Writer Agent').item.json.output.indexOf('\\n') + 1).trim() }}",
        "options": {}
      },
      "id": "f3000000-0000-4000-8000-000000000040",
      "name": "Send email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        -80
      ],
      "webhookId": "b3f3237d-e692-4aa2-911c-37f14a348229",
      "credentials": {
        "gmailOAuth2": {
          "id": "wFPLCtotR4QOuSRy",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "apv1",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f3000000-0000-4000-8000-000000000050",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "3TaWfTQGg0FqyUKs",
          "cachedResultName": "session_research"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Workflow Input').item.json.sessionId }}"
            },
            {
              "keyName": "companyKey",
              "keyValue": "={{ ($('Workflow Input').item.json.company || '').toString().toLowerCase().trim() }}"
            }
          ]
        }
      },
      "id": "f3000000-0000-4000-8000-0000000000b1",
      "name": "Get saved brief",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -256,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "### Load input & brief\nReceives the workflow input and pulls the saved brief from the Data Table to seed the agent.",
        "height": 304,
        "width": 488,
        "color": 4
      },
      "id": "82f87b8c-87a1-41e6-a196-241edca82b24",
      "name": "Sticky: Load brief",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -144
      ]
    },
    {
      "parameters": {
        "content": "### Draft email with AI\nThe Writer Agent (OpenAI model + n8n knowledge tool) generates the outreach draft.",
        "height": 528,
        "width": 424,
        "color": 5
      },
      "id": "26d1e20e-cd4a-42f4-89de-51bef0c6c9e7",
      "name": "Sticky: Writer agent",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -176
      ]
    },
    {
      "parameters": {
        "content": "### Human approval & send\nRoutes the draft for approval via Gmail, checks the reply, and sends the email once approved. **Request approval** emails the draft to joe.lemieux@n8n.io and pauses until Approve/Reject is clicked.",
        "height": 368,
        "width": 840,
        "color": 6
      },
      "id": "0025f760-277f-403b-aacb-acbd7f5978a0",
      "name": "Sticky: Approval flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        -224
      ]
    },
    {
      "parameters": {
        "content": "### Log outcome & return\nBuilds a log row and appends the outreach record (company, contact, email, approval_status, synced_at) to Google Sheets, then returns the result to the caller.",
        "height": 320,
        "width": 600,
        "color": 6
      },
      "id": "f59e5554-0a10-462f-97a0-03d9891abd1b",
      "name": "Sticky: Log & return",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1376,
        -160
      ]
    }
  ],
  "connections": {
    "Build log row": {
      "main": [
        [
          {
            "node": "Log to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheet": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve?": {
      "main": [
        [
          {
            "node": "Request approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build log row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Look up n8n knowledge": {
      "ai_tool": [
        [
          {
            "node": "Writer Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Writer Agent": {
      "main": [
        [
          {
            "node": "Approve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Build log row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build log row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Get saved brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get saved brief": {
      "main": [
        [
          {
            "node": "Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any",
    "binaryMode": "separate",
    "errorWorkflow": "zyp7cVplnCezN8OF"
  },
  "triggerCount": 0,
  "versionId": "cb1cd6ef-2612-45fa-86e5-41bca3a99156",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Assistant"
  },
  "parentFolderId": "SMw55GkRI4QGSQpK",
  "isArchived": false,
  "nodeGroups": []
}