workflows/HKwH8BvaSdel1HGr.json
{
  "id": "HKwH8BvaSdel1HGr",
  "name": "Tool: Draft outreach email",
  "nodes": [
    {
      "id": "a1b2c3d4-0003-4a03-8b03-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "company",
              "type": "string"
            },
            {
              "name": "contact_name",
              "type": "string"
            },
            {
              "name": "contact_role",
              "type": "string"
            },
            {
              "name": "research",
              "type": "string"
            },
            {
              "name": "analysis",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-4a03-8b03-000000000002",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        220
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "options": {},
        "responsesApiEnabled": false
      },
      "credentials": {
        "openAiApi": {
          "id": "KBLGEFMAR7Y26lSV",
          "name": "Personal"
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-4a03-8b03-000000000004",
      "name": "Writer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        480,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "=You are an SDR writing a first-touch cold outreach email on behalf of n8n (a workflow-automation platform).\n\nRecipient: {{ $json.contact_name }}{{ $json.contact_role ? ' (' + $json.contact_role + ')' : '' }}\nCompany: {{ $json.company }}\n\nResearch:\n{{ $json.research }}\n\nICP analysis:\n{{ $json.analysis }}\n\nWrite a concise, personalized outreach email (90-130 words) addressed to the recipient by name when provided (otherwise a neutral greeting). Tailor the angle to their role. Reference a specific, real detail from the research. Lead with the likely pain, connect it to a concrete automation outcome, and end with a low-friction CTA (a 15-minute call). Plain, confident tone - no fluff or buzzword salad.\n\nFormat your response exactly as:\nSubject: <a punchy subject line under 9 words>\n\n<the email body>",
        "hasOutputParser": false
      }
    },
    {
      "id": "a1b2c3d4-0003-4a03-8b03-000000000005",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        0
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f3000000-0000-4000-8000-000000000001",
              "name": "company",
              "value": "={{ $('Workflow Input').item.json.company }}",
              "type": "string"
            },
            {
              "id": "f3000000-0000-4000-8000-000000000002",
              "name": "email",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Writer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Writer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Writer Chain": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "18469688-64dd-4017-8cdc-995acd7c7d7c",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Agent"
  },
  "parentFolderId": null,
  "isArchived": false,
  "nodeGroups": []
}