workflows/j3sJQuYXRb3GCZqg.json
{
  "id": "j3sJQuYXRb3GCZqg",
  "name": "Tool: Analyze ICP fit",
  "nodes": [
    {
      "id": "a1b2c3d4-0002-4a02-8b02-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "company",
              "type": "string"
            },
            {
              "name": "research",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4a02-8b02-000000000002",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        220
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "options": {},
        "responsesApiEnabled": false
      },
      "credentials": {
        "openAiApi": {
          "id": "KBLGEFMAR7Y26lSV",
          "name": "Personal"
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4a02-8b02-000000000004",
      "name": "Analyst Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        480,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "=You are a B2B sales analyst scoring how well a company fits our Ideal Customer Profile (ICP).\n\nICP - n8n workflow-automation buyers:\n- Mid-market to enterprise (roughly 100+ employees)\n- Has technical teams (engineering, IT, ops, RevOps)\n- Uses multiple SaaS tools that need connecting\n- Has manual, repetitive processes ripe for automation\n- Growth or operational-scaling signals are a plus\n\nCompany: {{ $json.company }}\n\nResearch findings:\n{{ $json.research }}\n\nReturn ONLY a JSON object (no markdown code fences, no preamble) with these keys: fit_score (number 0-100), tier (\"A\" | \"B\" | \"C\" | \"D\"), company_size (string), industry (string), tech_stack (array of strings), buying_signals (array of strings), automation_opportunities (array of strings - concrete workflow-automation use cases for THIS company), rationale (string). Base everything on the research; use \"unknown\" where the research does not say.",
        "hasOutputParser": false
      }
    },
    {
      "id": "a1b2c3d4-0002-4a02-8b02-000000000005",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        0
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f2000000-0000-4000-8000-000000000001",
              "name": "company",
              "value": "={{ $('Workflow Input').item.json.company }}",
              "type": "string"
            },
            {
              "id": "f2000000-0000-4000-8000-000000000002",
              "name": "analysis",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Analyst Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyst Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Chain": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "9d5b3a44-c750-4ece-a8fc-8d88f4b310af",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Agent"
  },
  "parentFolderId": null,
  "isArchived": false,
  "nodeGroups": []
}