workflows/j3sJQuYXRb3GCZqg.json
{
  "id": "j3sJQuYXRb3GCZqg",
  "name": "Analyst Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "company"
            },
            {
              "name": "research"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0002-4a02-8b02-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "a1b2c3d4-0002-4a02-8b02-000000000002",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        176
      ],
      "credentials": {
        "openAiApi": {
          "id": "KBLGEFMAR7Y26lSV",
          "name": "Personal"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2000000-0000-4000-8000-000000000001",
              "name": "company",
              "value": "={{ $('Workflow Input').item.json.company }}",
              "type": "string"
            },
            {
              "id": "f2000000-0000-4000-8000-000000000002",
              "name": "analysis",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4a02-8b02-000000000005",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Score how well \"{{ $('Workflow Input').item.json.company }}\" fits our Ideal Customer Profile, using the research below.\n\nResearch findings:\n{{ $('Workflow Input').item.json.research }}",
        "options": {
          "systemMessage": "You are a B2B sales analyst scoring how well a company fits n8n's Ideal Customer Profile (ICP).\n\nICP — n8n workflow-automation buyers:\n- Mid-market to enterprise (~100+ employees)\n- Has technical teams (engineering, IT, ops, RevOps)\n- Uses multiple SaaS tools that need connecting\n- Has manual, repetitive processes ripe for automation\n- Growth or operational-scaling signals are a plus\n\nBefore scoring, call the n8n knowledge lookup tool to ground your reasoning in how n8n actually creates value (capabilities, differentiation vs legacy iPaaS, typical use cases). Use what it returns to make automation_opportunities specific and credible.\n\nReturn ONLY a JSON object (no markdown code fences, no preamble) with these keys: fit_score (number 0-100), tier (\"A\"|\"B\"|\"C\"|\"D\"), company_size (string), industry (string), tech_stack (array of strings), buying_signals (array of strings), automation_opportunities (array of strings — concrete n8n workflow-automation use cases for THIS company), rationale (string). Base everything on the research and retrieved knowledge; use \"unknown\" where the research does not say.",
          "maxIterations": 10
        }
      },
      "id": "a1b2c3d4-0002-4a02-8b02-00000000000a",
      "name": "Analyst Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "description": "Look up n8n's product knowledge base — n8n's automation capabilities, integrations, AI features, reliability, and how it compares to legacy iPaaS tools. Input: one focused query string. Returns relevant n8n knowledge snippets as text. Use it to ground ICP fit reasoning and make automation use-cases concrete.",
        "workflowId": {
          "__rl": true,
          "value": "5dmOdqHgaCS2UukW",
          "mode": "list",
          "cachedResultUrl": "/workflow/5dmOdqHgaCS2UukW",
          "cachedResultName": "Onboarding - SDR Agent — Tool: KB lookup (n8n knowledge)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'A focused query about n8n value, capabilities or fit, for example: n8n value for RevOps teams, or n8n vs legacy iPaaS for engineering', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "a1b2c3d4-0002-4a02-8b02-00000000000b",
      "name": "Look up n8n knowledge",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        416,
        224
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Look up n8n knowledge": {
      "ai_tool": [
        [
          {
            "node": "Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyst Agent": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any",
    "errorWorkflow": "zyp7cVplnCezN8OF",
    "binaryMode": "separate"
  },
  "triggerCount": 0,
  "versionId": "66a0ad49-a3a6-44b6-a8de-947653a9430a",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Assistant"
  },
  "parentFolderId": "SMw55GkRI4QGSQpK",
  "isArchived": false,
  "nodeGroups": []
}