workflows/lfZEWcH7DSl63EbU.json
{
  "id": "lfZEWcH7DSl63EbU",
  "name": "Outreach — Approve & Send (async worker)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "subject"
            },
            {
              "name": "body"
            }
          ]
        }
      },
      "id": "e1000000-0000-4000-8000-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "joe.lemieux@n8n.io",
        "subject": "=Approve outreach: {{ $json.subject }}",
        "message": "=Please review and approve this outreach email:\n\nSubject: {{ $json.subject }}\n\n{{ $json.body }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 48
            }
          }
        }
      },
      "id": "e1000000-0000-4000-8000-000000000002",
      "name": "Request approval",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "webhookId": "61d42470-39b3-4633-9c81-9c2831fc7b3c",
      "customTelemetryTags": {},
      "credentials": {
        "gmailOAuth2": {
          "id": "wFPLCtotR4QOuSRy",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "joe.lemieux@n8n.io",
        "subject": "={{ $('Workflow Input').item.json.subject }}",
        "emailType": "text",
        "message": "={{ $('Workflow Input').item.json.body }}",
        "options": {}
      },
      "id": "e1000000-0000-4000-8000-000000000003",
      "name": "Send email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "webhookId": "9da520a7-521e-406e-8b24-9219483b1edb",
      "credentials": {
        "gmailOAuth2": {
          "id": "wFPLCtotR4QOuSRy",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lg1",
              "name": "subject",
              "value": "={{ $('Workflow Input').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "lg2",
              "name": "approval_status",
              "value": "Sent (approved)",
              "type": "string"
            },
            {
              "id": "lg3",
              "name": "synced_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e1000000-0000-4000-8000-000000000004",
      "name": "Log row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "10ch_n_HmeTS320v2j0UZiWgkq_QSDvDOnf9GgmU9sRs",
          "cachedResultName": "Outreach Log"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null,
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "e1000000-0000-4000-8000-000000000005",
      "name": "Log to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNAE9aJLjGEHE2iZ",
          "name": "Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ap1",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e1000000-0000-4000-8000-000000000006",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Request approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Log row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log row": {
      "main": [
        [
          {
            "node": "Log to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "zyp7cVplnCezN8OF",
    "binaryMode": "separate"
  },
  "triggerCount": 0,
  "versionId": "e19a23a0-225a-4c02-8e69-4c435d8aed90",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Assistant"
  },
  "parentFolderId": "HEcrJqQ0CssZz19u",
  "isArchived": false,
  "nodeGroups": []
}