workflows/lfZEWcH7DSl63EbU.json
{
  "id": "lfZEWcH7DSl63EbU",
  "name": "Outreach — Approve & Send (async worker)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "subject"
            },
            {
              "name": "body"
            }
          ]
        }
      },
      "id": "e1000000-0000-4000-8000-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "joe.lemieux@n8n.io",
        "subject": "=Approve outreach: {{ $json.subject }}",
        "message": "=Please review and approve this outreach email:\n\nSubject: {{ $json.subject }}\n\n{{ $json.body }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 48
            }
          }
        }
      },
      "id": "e1000000-0000-4000-8000-000000000002",
      "name": "Request approval",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "webhookId": "61d42470-39b3-4633-9c81-9c2831fc7b3c",
      "customTelemetryTags": {},
      "credentials": {
        "gmailOAuth2": {
          "id": "wFPLCtotR4QOuSRy",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "joe.lemieux@n8n.io",
        "subject": "={{ $('Workflow Input').item.json.subject }}",
        "emailType": "text",
        "message": "={{ $('Workflow Input').item.json.body }}",
        "options": {}
      },
      "id": "e1000000-0000-4000-8000-000000000003",
      "name": "Send email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        -16
      ],
      "webhookId": "9da520a7-521e-406e-8b24-9219483b1edb",
      "credentials": {
        "gmailOAuth2": {
          "id": "wFPLCtotR4QOuSRy",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lg1",
              "name": "subject",
              "value": "={{ $('Workflow Input').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "lg2",
              "name": "approval_status",
              "value": "Sent (approved)",
              "type": "string"
            },
            {
              "id": "lg3",
              "name": "synced_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e1000000-0000-4000-8000-000000000004",
      "name": "Log row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "10ch_n_HmeTS320v2j0UZiWgkq_QSDvDOnf9GgmU9sRs",
          "cachedResultName": "Outreach Log"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null,
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "e1000000-0000-4000-8000-000000000005",
      "name": "Log to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CNAE9aJLjGEHE2iZ",
          "name": "Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ap1",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e1000000-0000-4000-8000-000000000006",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "content": "### Worker input\nEntry point receiving the drafted email and lead context from the pipeline for approval and sending.",
        "height": 336,
        "width": 296,
        "color": 4
      },
      "id": "ad13b0d9-6c96-4f00-acb1-36a30a72f216",
      "name": "Sticky: Worker input",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -176
      ]
    },
    {
      "parameters": {
        "content": "### Approval gate\nRequests human approval via Gmail, then branches on the response to decide whether to proceed with sending.",
        "height": 336,
        "width": 504,
        "color": 7
      },
      "id": "d06f22cf-61ef-45f7-bb8d-eb104bc0d0f9",
      "name": "Sticky: Approval gate",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        -176
      ]
    },
    {
      "parameters": {
        "content": "### Send & log\nSends the approved email, builds a log record, and appends it to the tracking Google Sheet.",
        "height": 336,
        "width": 712,
        "color": 6
      },
      "id": "a9cc7ca9-3900-41cd-aa73-6ad21abf329b",
      "name": "Sticky: Send & log",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        -176
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Request approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Log row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log row": {
      "main": [
        [
          {
            "node": "Log to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "zyp7cVplnCezN8OF",
    "binaryMode": "separate"
  },
  "triggerCount": 0,
  "versionId": "281cfb65-3924-40f5-8773-68936cd310b7",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Assistant"
  },
  "parentFolderId": "HEcrJqQ0CssZz19u",
  "isArchived": false,
  "nodeGroups": []
}