workflows/LzvspcZ4PJfCFtXk.json
{
  "id": "LzvspcZ4PJfCFtXk",
  "name": "Outreach — Reply Handler",
  "nodes": [
    {
      "id": "r0000000-0000-4000-8000-000000000001",
      "name": "New reply",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "parameters": {
        "authentication": "oAuth2",
        "event": "messageReceived",
        "simple": true,
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "label:SDR-Reply"
        },
        "maxResults": 10
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "wFPLCtotR4QOuSRy",
          "name": "Gmail"
        }
      }
    },
    {
      "id": "r0000000-0000-4000-8000-000000000002",
      "name": "Parse reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pr1",
              "name": "senderEmail",
              "value": "={{ (($json.from || '').toString().match(/[\\w.+-]+@[\\w.-]+\\.[\\w-]+/) || [''])[0].toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "pr2",
              "name": "replyText",
              "value": "={{ $json.text || $json.snippet || $json.subject || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "r0000000-0000-4000-8000-000000000003",
      "name": "Find sequence",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "alwaysOutputData": true,
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "HLjnYGPCMOiUUKAE",
          "cachedResultName": "outreach_log"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Parse reply').item.json.senderEmail }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      }
    },
    {
      "id": "r0000000-0000-4000-8000-000000000004",
      "name": "Matched?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        660,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "m1",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "r0000000-0000-4000-8000-0000000000c1",
      "name": "Classifier model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        700,
        220
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "KBLGEFMAR7Y26lSV",
          "name": "Personal"
        }
      }
    },
    {
      "id": "r0000000-0000-4000-8000-000000000005",
      "name": "Classify reply",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "parameters": {
        "inputText": "={{ $('Parse reply').item.json.replyText }}",
        "categories": {
          "categories": [
            {
              "category": "interested",
              "description": "The prospect shows interest, asks a question, wants more information, or wants to book a meeting or call."
            },
            {
              "category": "not_interested",
              "description": "The prospect declines: not interested, not a fit, not now, no thanks, or already has a solution."
            },
            {
              "category": "out_of_office",
              "description": "An automatic out-of-office, vacation, or auto-reply indicating the person is temporarily away."
            },
            {
              "category": "unsubscribe",
              "description": "The prospect asks to stop emailing them, opt out, unsubscribe, or remove them from the list."
            }
          ]
        },
        "options": {
          "enableAutoFixing": true,
          "fallback": "other"
        }
      }
    },
    {
      "id": "r0000000-0000-4000-8000-000000000006",
      "name": "Mark replied",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1120,
        -200
      ],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "HLjnYGPCMOiUUKAE",
          "cachedResultName": "outreach_log"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Parse reply').item.json.senderEmail }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "replied"
          }
        }
      }
    },
    {
      "id": "r0000000-0000-4000-8000-000000000007",
      "name": "Alert me",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1340,
        -200
      ],
      "webhookId": "a3333333-3333-4333-8333-333333333333",
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "joe.lemieux@n8n.io",
        "subject": "=🎯 Prospect replied: {{ $('Find sequence').item.json.contactName }} at {{ $('Find sequence').item.json.company }}",
        "emailType": "text",
        "message": "=A prospect replied and the follow-up sequence has been stopped.\n\nCompany: {{ $('Find sequence').item.json.company }}\nContact: {{ $('Find sequence').item.json.contactName }} ({{ $('Find sequence').item.json.contactRole }})\nFrom: {{ $('Parse reply').item.json.senderEmail }}\n\nTheir reply:\n{{ $('Parse reply').item.json.replyText }}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "wFPLCtotR4QOuSRy",
          "name": "Gmail"
        }
      }
    },
    {
      "id": "r0000000-0000-4000-8000-000000000008",
      "name": "Mark stopped",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1120,
        -20
      ],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "HLjnYGPCMOiUUKAE",
          "cachedResultName": "outreach_log"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Parse reply').item.json.senderEmail }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "stopped"
          }
        }
      }
    },
    {
      "id": "r0000000-0000-4000-8000-000000000009",
      "name": "Mark unsubscribed",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1120,
        160
      ],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "HLjnYGPCMOiUUKAE",
          "cachedResultName": "outreach_log"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Parse reply').item.json.senderEmail }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "unsubscribed"
          }
        }
      }
    },
    {
      "id": "r0000000-0000-4000-8000-000000000010",
      "name": "Snooze",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1120,
        340
      ],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "HLjnYGPCMOiUUKAE",
          "cachedResultName": "outreach_log"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Parse reply').item.json.senderEmail }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "active",
            "nextActionAt": "={{ $now.plus({ minutes: 5 }).toISO() }}"
          }
        }
      }
    }
  ],
  "connections": {
    "New reply": {
      "main": [
        [
          {
            "node": "Parse reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse reply": {
      "main": [
        [
          {
            "node": "Find sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find sequence": {
      "main": [
        [
          {
            "node": "Matched?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matched?": {
      "main": [
        [
          {
            "node": "Classify reply",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Classifier model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify reply": {
      "main": [
        [
          {
            "node": "Mark replied",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark stopped",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Snooze",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark unsubscribed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark replied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark replied": {
      "main": [
        [
          {
            "node": "Alert me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "zyp7cVplnCezN8OF"
  },
  "triggerCount": 1,
  "versionId": "124f054b-9bd5-4727-bdfe-ff49970d1195",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Assistant"
  },
  "parentFolderId": null,
  "isArchived": true,
  "nodeGroups": []
}