workflows/MmQma4WuSZJ0bXQu.json
{
  "id": "MmQma4WuSZJ0bXQu",
  "name": "Outreach Pipeline (async)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userText"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "id": "f1000000-0000-4000-8000-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userText }}",
        "options": {
          "systemMessage": "=You are an outreach orchestrator running asynchronously - the user has already been told you are working and will receive the result by email, so do not ask follow-up questions. You receive a request naming a COMPANY and ideally a RECIPIENT name and ROLE.\n\nAlways use your tools - never write research, analysis, or the email yourself:\n1. Research_company - gather live facts about the company.\n2. Analyze_ICP_fit - pass the company name and the FULL research brief; get the fit score and automation opportunities.\n3. Draft_outreach_email - pass the company, the recipient name and role, the FULL research brief, and the FULL analysis. This tool drafts the email, sends it for human approval, and on approval sends and logs it. You MUST call this tool to produce the email - never compose the email text yourself.\n\nIf the recipient name or role is missing, still run research and analysis and call Draft_outreach_email with whatever contact info is available. Always pass the actual research and analysis text between tools.",
          "maxIterations": 25
        }
      },
      "id": "f1000000-0000-4000-8000-000000000002",
      "name": "Outreach Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "f1000000-0000-4000-8000-000000000003",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        64,
        176
      ],
      "credentials": {
        "openAiApi": {
          "id": "KBLGEFMAR7Y26lSV",
          "name": "Personal"
        }
      }
    },
    {
      "parameters": {
        "description": "Research a company on the live web. Call FIRST. Inputs: company and context. Returns a factual markdown brief (overview, size, tech, recent news, sources).",
        "workflowId": {
          "__rl": true,
          "value": "9nZwA876coN3qR5x",
          "mode": "list",
          "cachedResultName": "Research Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "company": "={{ $fromAI('company', 'The company name to research', 'string') }}",
            "context": "={{ $fromAI('context', 'Optional context to focus the research', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "f1000000-0000-4000-8000-000000000005",
      "name": "Research company",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        128,
        464
      ]
    },
    {
      "parameters": {
        "description": "Score a company against our ICP. Call AFTER research. Inputs: company and research (the full research brief). Returns JSON: fit_score, tier, signals, automation opportunities, rationale.",
        "workflowId": {
          "__rl": true,
          "value": "j3sJQuYXRb3GCZqg",
          "mode": "list",
          "cachedResultName": "Analyst Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "company": "={{ $fromAI('company', 'The company name', 'string') }}",
            "research": "={{ $fromAI('research', 'The full research brief text from Research_company', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "research",
              "displayName": "research",
              "required": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "f1000000-0000-4000-8000-000000000006",
      "name": "Analyze ICP fit",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        304,
        464
      ]
    },
    {
      "parameters": {
        "description": "Draft a personalized cold outreach email, send it for human approval, then send and log it on approval. Call LAST, after research and analysis. Inputs: company, contact_name, contact_role, research (full brief), analysis (full ICP analysis).",
        "workflowId": {
          "__rl": true,
          "value": "HKwH8BvaSdel1HGr",
          "mode": "list",
          "cachedResultName": "Writer Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "company": "={{ $fromAI('company', 'The company name', 'string') }}",
            "contact_name": "={{ $fromAI('contact_name', 'The recipient full name', 'string') }}",
            "contact_role": "={{ $fromAI('contact_role', 'The recipient role or title', 'string') }}",
            "research": "={{ $fromAI('research', 'The full research brief text', 'string') }}",
            "analysis": "={{ $fromAI('analysis', 'The full ICP analysis text', 'string') }}",
            "require_approval": "true"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_role",
              "displayName": "contact_role",
              "required": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "research",
              "displayName": "research",
              "required": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "require_approval",
              "displayName": "require_approval",
              "required": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "id": "f1000000-0000-4000-8000-000000000007",
      "name": "Draft outreach email",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        480,
        464
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "f1000000-0000-4000-8000-00000000004r",
      "name": "Session Memory (Redis)",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.6,
      "position": [
        176,
        160
      ],
      "credentials": {
        "redis": {
          "id": "QDGrL1RQpb0paDlJ",
          "name": "Redis (in-cluster)"
        }
      }
    },
    {
      "parameters": {
        "content": "### Pipeline input\nEntry point invoked by the parent workflow, passing the lead/company payload into the outreach agent.",
        "height": 320,
        "width": 328,
        "color": 4
      },
      "id": "b78dc39c-3f7d-4d63-97a6-61609b48d894",
      "name": "Sticky: Pipeline input",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -176
      ]
    },
    {
      "parameters": {
        "content": "### Agent brain\nThe Outreach Agent orchestrates the run, backed by the OpenAI chat model for reasoning and Redis session memory for multi-turn context.",
        "height": 476,
        "width": 420,
        "color": 5
      },
      "id": "7e82288e-53f7-4fb5-a71e-c74ab66c56ed",
      "name": "Sticky: Agent brain",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -176
      ]
    },
    {
      "parameters": {
        "content": "### Agent tools\nSub-workflow tools the agent can call: research the company, score ICP fit, and draft the outreach email.",
        "height": 256,
        "width": 640,
        "color": 5
      },
      "id": "de463b5d-c42c-49f0-ac32-49a32dec6ac0",
      "name": "Sticky: Agent tools",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        320
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Outreach Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Outreach Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research company": {
      "ai_tool": [
        [
          {
            "node": "Outreach Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyze ICP fit": {
      "ai_tool": [
        [
          {
            "node": "Outreach Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Draft outreach email": {
      "ai_tool": [
        [
          {
            "node": "Outreach Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Session Memory (Redis)": {
      "ai_memory": [
        [
          {
            "node": "Outreach Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "zyp7cVplnCezN8OF",
    "callerPolicy": "any",
    "binaryMode": "separate"
  },
  "triggerCount": 0,
  "versionId": "d40478f9-0116-4f7e-ab37-2102ddf85c7a",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Assistant"
  },
  "parentFolderId": "SMw55GkRI4QGSQpK",
  "isArchived": false,
  "nodeGroups": []
}