workflows/phM0daIPJdKz4hyz.json
{
  "id": "phM0daIPJdKz4hyz",
  "name": "Tool: Research (async kickoff)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "company"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "id": "k0000000-0000-4000-8000-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "a7Uf3Xk2kyn2YzBr",
          "cachedResultName": "Tool: Enriched Brief (RAG)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "company": "={{ $json.company }}",
            "sessionId": "={{ $json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "k0000000-0000-4000-8000-000000000002",
      "name": "Start brief",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ack1",
              "name": "response",
              "value": "=Research for {{ $('Workflow Input').item.json.company }} has started. The full brief is being generated now — I'll email it to you within about a minute, and it will be ready here too. Meanwhile, who would you like to reach out to? Share their name and role and I'll draft the outreach as soon as the brief is ready.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "k0000000-0000-4000-8000-000000000003",
      "name": "Ack",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        16
      ]
    },
    {
      "parameters": {
        "content": "### Async research kickoff\nStarts the brief-generation sub-workflow in the background and immediately returns an acknowledgement so the caller doesn't wait for the long-running research to finish.",
        "height": 288,
        "width": 760,
        "color": 6
      },
      "id": "cb96e935-2b84-4aa7-922d-ee2944ba3b29",
      "name": "Sticky: Research kickoff",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -128
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Start brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start brief": {
      "main": [
        [
          {
            "node": "Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "zyp7cVplnCezN8OF",
    "callerPolicy": "any",
    "binaryMode": "separate"
  },
  "triggerCount": 0,
  "versionId": "0e38a749-d598-43cc-9ff3-dbd52f23d0fa",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Assistant"
  },
  "parentFolderId": "HEcrJqQ0CssZz19u",
  "isArchived": false,
  "nodeGroups": []
}