workflows/qDLTxxbQikXZypgK.json
{
  "id": "qDLTxxbQikXZypgK",
  "name": "Tool: Show brief",
  "nodes": [
    {
      "id": "sb000000-0000-4000-8000-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "company"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      }
    },
    {
      "id": "sb000000-0000-4000-8000-000000000002",
      "name": "Get brief",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "alwaysOutputData": true,
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "3TaWfTQGg0FqyUKs",
          "cachedResultName": "session_research"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "condition": "eq",
              "keyValue": "={{ $('Workflow Input').item.json.sessionId }}"
            },
            {
              "keyName": "companyKey",
              "condition": "eq",
              "keyValue": "={{ ($('Workflow Input').item.json.company || '').toString().toLowerCase().trim() }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      }
    },
    {
      "id": "sb000000-0000-4000-8000-000000000003",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sb1",
              "name": "brief",
              "value": "={{ $json.brief || 'The brief is not ready yet - research takes about a minute. Ask again in a moment.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Get brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get brief": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "zyp7cVplnCezN8OF",
    "callerPolicy": "any"
  },
  "triggerCount": 0,
  "versionId": "648724fd-ce3d-4181-ae97-4dfb5a5d7a1e",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Assistant"
  },
  "parentFolderId": "HEcrJqQ0CssZz19u",
  "isArchived": false,
  "nodeGroups": []
}