workflows/qDLTxxbQikXZypgK.json
{
  "id": "qDLTxxbQikXZypgK",
  "name": "Tool: Show brief",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "company"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "id": "sb000000-0000-4000-8000-000000000001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        16
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "3TaWfTQGg0FqyUKs",
          "cachedResultName": "session_research"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('Workflow Input').item.json.sessionId }}"
            },
            {
              "keyName": "companyKey",
              "keyValue": "={{ ($('Workflow Input').item.json.company || '').toString().toLowerCase().trim() }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "sb000000-0000-4000-8000-000000000002",
      "name": "Get brief",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        240,
        16
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sb1",
              "name": "brief",
              "value": "={{ $json.brief || 'The brief is not ready yet - research takes about a minute. Ask again in a moment.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "sb000000-0000-4000-8000-000000000003",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        16
      ]
    },
    {
      "parameters": {
        "content": "### Retrieve stored brief\nLooks up the previously generated research brief from the Data Table by its id and returns it to the calling agent.",
        "height": 288,
        "width": 720,
        "color": 7
      },
      "id": "daba96ea-a18e-4287-b361-13bc82744d1f",
      "name": "Sticky: Show brief",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -128
      ]
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Get brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get brief": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "zyp7cVplnCezN8OF",
    "callerPolicy": "any",
    "binaryMode": "separate"
  },
  "triggerCount": 0,
  "versionId": "af7a8c19-2a94-438e-81bc-e7f0f94bc60c",
  "owner": {
    "type": "team",
    "teamId": "FGee2Rffy5CZODVa",
    "teamName": "Onboarding - SDR Assistant"
  },
  "parentFolderId": "HEcrJqQ0CssZz19u",
  "isArchived": false,
  "nodeGroups": []
}