workflows/VysXi5DV7cK7QZAJ.json
{
  "id": "VysXi5DV7cK7QZAJ",
  "name": "Test workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "372857c4-62d4-47df-b080-07b2332deaa7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "7558e600-e8af-4069-84e6-d6607b012d08",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "c6b48ee0-0dc4-461a-878f-af6b85b797e6",
      "name": "AI Agent"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "b5da6016-ad0f-420a-aeec-be875a2eec51",
  "owner": {
    "type": "personal",
    "projectId": "9Qu7G77ANe0l0aLA",
    "projectName": "Joe Lemieux <joe.lemieux@n8n.io>",
    "personalEmail": "joe.lemieux@n8n.io"
  },
  "parentFolderId": null,
  "isArchived": false,
  "nodeGroups": []
}