workflows/VysXi5DV7cK7QZAJ.json
{
  "id": "VysXi5DV7cK7QZAJ",
  "name": "Test workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "372857c4-62d4-47df-b080-07b2332deaa7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "7558e600-e8af-4069-84e6-d6607b012d08",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "c6b48ee0-0dc4-461a-878f-af6b85b797e6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "89a07e05-5ea8-4048-8e68-10c7fac05fb3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KBLGEFMAR7Y26lSV",
          "name": "Personal"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        64,
        240
      ],
      "id": "a80526c4-ef9a-48cc-b8e9-0a749c210e81",
      "name": "When chat message received",
      "webhookId": "a93493e4-0379-4f6e-8a0f-33528218ed88"
    },
    {
      "parameters": {
        "guardrails": {
          "nsfw": {
            "value": {
              "threshold": 0.7,
              "customizePrompt": true
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        816,
        16
      ],
      "id": "8bfe8050-ccce-4e7e-9c2c-5d637d0039fc",
      "name": "Guardrails"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "triggerCount": 1,
  "versionId": "e9942032-bd3b-401e-9bb0-79d6db0c1a0f",
  "owner": {
    "type": "team",
    "teamId": "LDZbeEPHll7aysDT",
    "teamName": "Testing"
  },
  "parentFolderId": null,
  "isArchived": false,
  "nodeGroups": []
}